# Data preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.impute import KNNImputer as knn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing as sk_pp

%matplotlib inline

### Read csv and change target column to numbers

In [2]:
treino = pd.read_csv("training.csv",sep=";",skipinitialspace=True,na_values='?')
teste = pd.read_csv("test.csv",sep=";",skipinitialspace=True,na_values='?')

In [3]:
treino = treino.replace(to_replace="<=50K",value=0)
treino = treino.replace(to_replace=">50K",value=1)

teste = teste.replace(to_replace="<=50K",value=0)
teste = teste.replace(to_replace=">50K",value=1)

#### Drop column "education" because it is the same as "education-num"

In [4]:
treino = treino.drop(columns=['education'])
teste = teste.drop(columns=['education'])

#### Rename columns

In [5]:
treino.rename(columns={'education-num': 'education', 'marital-status': 'maritalstatus', 'capital-gain': 'capitalgain', 'capital-loss': 'capitalloss', 'hours-per-week': 'workhoursweek', 'native-country': 'nativecountry', 'salary-classification': 'salary' }, inplace=True)
teste.rename(columns={'education-num': 'education', 'marital-status': 'maritalstatus', 'capital-gain': 'capitalgain', 'capital-loss': 'capitalloss', 'hours-per-week': 'workhoursweek', 'native-country': 'nativecountry', 'salary-classification': 'salary' }, inplace=True)

# Different approaches

# 1 - Remove all nulls and save it in a csv

In [6]:
treino0null = treino.dropna()
teste0null = teste.dropna()

In [7]:
treino0null.to_csv("training_0null_strings.csv", index = False)
teste0null.to_csv("test_0null_strings.csv", index = False)

In [8]:
treino0null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30162 non-null  int64
 1   workclass      30162 non-null  object
 2   fnlwgt         30162 non-null  int64
 3   education      30162 non-null  int64
 4   maritalstatus  30162 non-null  object
 5   occupation     30162 non-null  object
 6   relationship   30162 non-null  object
 7   race           30162 non-null  object
 8   sex            30162 non-null  object
 9   capitalgain    30162 non-null  int64
 10  capitalloss    30162 non-null  int64
 11  workhoursweek  30162 non-null  int64
 12  nativecountry  30162 non-null  object
 13  salary         30162 non-null  int64
dtypes: int64(7), object(7)
memory usage: 3.5+ MB

In [9]:
merged = pd.concat([treino0null, teste0null], ignore_index=True)

In [10]:
le = sk_pp.OrdinalEncoder()
merged['workclass'] = le.fit_transform(merged[['workclass']]).astype(int)
merged['maritalstatus'] = le.fit_transform(merged[['maritalstatus']]).astype(int)
merged['occupation'] = le.fit_transform(merged[['occupation']]).astype(int)
merged['relationship'] = le.fit_transform(merged[['relationship']]).astype(int)
merged['race'] = le.fit_transform(merged[['race']]).astype(int)
merged['sex'] = le.fit_transform(merged[['sex']]).astype(int)
merged['nativecountry'] = le.fit_transform(merged[['nativecountry']]).astype(int)

In [11]:
treino0null = merged.iloc[:30162, :]
teste0null = merged.iloc[30162:, :]

In [12]:
treino0null.to_csv("training_0null.csv", index = False)
teste0null.to_csv("test_0null.csv", index = False)

# 2 - Change missing values to mode and save it in a csv

In [13]:
treino_mode = treino.copy()
teste_mode = teste.copy()

tnullsWork = teste_mode['workclass'].isnull()
tnullsOccup = teste_mode['occupation'].isnull()
tnullsNatC = teste_mode['nativecountry'].isnull()

In [14]:
for column in ['workclass', 'occupation', 'nativecountry']:
    treino_mode[column].fillna(treino_mode[column].mode()[0], inplace=True)

In [15]:
for column in ['workclass', 'occupation', 'nativecountry']:
    teste_mode[column].fillna(teste_mode[column].mode()[0], inplace=True)

In [16]:
treino_mode.to_csv("training_mode_strings.csv", index = False)
teste_mode.to_csv("test_mode_strings.csv", index = False)

In [17]:
treino_mode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            32561 non-null  int64
 1   workclass      32561 non-null  object
 2   fnlwgt         32561 non-null  int64
 3   education      32561 non-null  int64
 4   maritalstatus  32561 non-null  object
 5   occupation     32561 non-null  object
 6   relationship   32561 non-null  object
 7   race           32561 non-null  object
 8   sex            32561 non-null  object
 9   capitalgain    32561 non-null  int64
 10  capitalloss    32561 non-null  int64
 11  workhoursweek  32561 non-null  int64
 12  nativecountry  32561 non-null  object
 13  salary         32561 non-null  int64
dtypes: int64(7), object(7)
memory usage: 3.5+ MB

In [18]:
merged = pd.concat([treino_mode, teste_mode], ignore_index=True)

In [19]:
le = sk_pp.OrdinalEncoder()
merged['workclass'] = le.fit_transform(merged[['workclass']]).astype(int)
merged['maritalstatus'] = le.fit_transform(merged[['maritalstatus']]).astype(int)
merged['occupation'] = le.fit_transform(merged[['occupation']]).astype(int)
merged['relationship'] = le.fit_transform(merged[['relationship']]).astype(int)
merged['race'] = le.fit_transform(merged[['race']]).astype(int)
merged['sex'] = le.fit_transform(merged[['sex']]).astype(int)
merged['nativecountry'] = le.fit_transform(merged[['nativecountry']]).astype(int)

In [20]:
treino_mode = merged.iloc[:32561, :]
teste_mode = merged.iloc[32561:, :]

In [21]:
teste_mode = teste_mode.reset_index()
teste_mode = teste_mode.drop(columns=['index'])

In [22]:
teste_mode.loc[tnullsWork==True,'workclass'] = np.nan
teste_mode.loc[tnullsOccup==True,'occupation'] = np.nan
teste_mode.loc[tnullsNatC==True,'nativecountry'] = np.nan

In [23]:
teste_mode = teste_mode.dropna()

In [24]:
treino_mode.to_csv("training_mode.csv", index = False)
teste_mode.to_csv("test_mode.csv", index = False)

# 3 - Change missing values using KNN

In [25]:
treino_knn = treino.copy()
teste_knn = teste.copy()

knullsWork = teste_knn['workclass'].isnull()
knullsOccup = teste_knn['occupation'].isnull()
knullsNatC = teste_knn['nativecountry'].isnull()

In [26]:
teste_knn.head()

,age,workclass,fnlwgt,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,workhoursweek,nativecountry,salary
0,25,Private,226802,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,NaN,103497,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,0

In [27]:
merged = pd.concat([treino_knn, teste_knn], ignore_index=True)

In [28]:
mergedNullWork = merged['workclass'].isnull()
mergedNullOccup = merged['occupation'].isnull()
mergedNullNatC = merged['nativecountry'].isnull()

In [29]:
merged = merged.fillna("?")

In [30]:
le = sk_pp.OrdinalEncoder()
merged['workclass'] = le.fit_transform(merged[['workclass']]).astype(int)
merged['maritalstatus'] = le.fit_transform(merged[['maritalstatus']]).astype(int)
merged['occupation'] = le.fit_transform(merged[['occupation']]).astype(int)
merged['relationship'] = le.fit_transform(merged[['relationship']]).astype(int)
merged['race'] = le.fit_transform(merged[['race']]).astype(int)
merged['sex'] = le.fit_transform(merged[['sex']]).astype(int)
merged['nativecountry'] = le.fit_transform(merged[['nativecountry']]).astype(int)

In [31]:
merged.loc[mergedNullWork==True,'workclass'] = np.nan
merged.loc[mergedNullOccup==True,'occupation'] = np.nan
merged.loc[mergedNullNatC==True,'nativecountry'] = np.nan

In [32]:
imputer = knn(n_neighbors=5,weights='uniform', metric='nan_euclidean')

In [33]:
merged = pd.DataFrame(np.round(imputer.fit_transform(merged)), columns = merged.columns)

In [34]:
treino_knn = merged.iloc[:32561, :]
teste_knn = merged.iloc[32561:, :]

In [35]:
teste_knn = teste_knn.reset_index()
teste_knn = teste_knn.drop(columns=['index'])

In [36]:
teste_knn.loc[knullsWork==True,'workclass'] = np.nan
teste_knn.loc[knullsOccup==True,'occupation'] = np.nan
teste_knn.loc[knullsNatC==True,'nativecountry'] = np.nan

In [37]:
teste_knn.isnull().sum()

age                0
workclass        963
fnlwgt             0
education          0
maritalstatus      0
occupation       966
relationship       0
race               0
sex                0
capitalgain        0
capitalloss        0
workhoursweek      0
nativecountry    274
salary             0
dtype: int64

In [38]:
teste_knn = teste_knn.dropna()

In [39]:
teste_knn.isnull().sum()

age              0
workclass        0
fnlwgt           0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
workhoursweek    0
nativecountry    0
salary           0
dtype: int64

In [40]:
treino_knn.to_csv("training_knn.csv", index = False)
teste_knn.to_csv("test_knn.csv", index = False)